{{ template "widget-base.html" . }}

{{ define "widget-content" }}
<ul class="dynamic-columns list-gap-20 list-with-separator">
    {{ range .Groups }}
    {{ range .Links }}
        <div class="monitor-site flex items-center gap-15">
            {{ template "site" . }}
        </div>
    {{ end }}
    {{ end }}
</ul>
{{ end }}

{{ define "site" }}
{{ if .Icon.URL }}
<img class="monitor-site-icon{{ if .Icon.AutoInvert }} flat-icon{{ end }}" src="{{ .Icon.URL }}" alt="" loading="lazy">
{{ end }}
<div class="grow min-width-0">
    <a class="size-h3 color-highlight text-truncate block" href="{{ .URL | safeURL }}" {{ if not .SameTab }}target="_blank"{{ end }} rel="noreferrer">{{ .Title }}</a>
</div>
{{ end }}